.hero-login {
  padding: 20px 0 40px 0;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  border-bottom: 4px solid #b7ceff;

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 0 20px;

    .logo-hero {
      width: 110px;
      height: 48px;
    }

    .swiper-fans-token,
    .swiper-words-flag {
      width: 100%;
    }

    .swiper-fans-token {
      .swiper-slide {
        width: fit-content;

        .fan-token {
          width: 60px;
          height: 60px;
          object-fit: cover;

          &:nth-child(1) {
            object-position: -3px;
          }
        }
      }
    }

    .swiper-words-flag {
      .swiper-slide {
        width: fit-content;

        .word-item {
          i {
            margin: 0 7.5px;

            font-size: 5px;
            color: #b7ceff;
          }

          span {
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 700;
            line-height: 19.6px;
          }
        }
      }
    }
  }
}
